.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 1rem;
    grid-auto-rows: minmax(min-content, auto);
    grid-auto-flow: dense;
    padding: 1rem 0 1rem 0;
}

@media all and (max-width: 1600px) {
    .grid-layout {
        grid-template-columns: 1fr 1fr;
    }
}

.grid-item {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #929796;
    background-color: #000;
    height: calc(28.33333vw - .667rem);
    /* border-radius: 5px; */
}

.span-1 {
    grid-column-end: span 1;
    grid-row-end: span 2;
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.filter-layout {
    color: #FFF;
}


@media all and (max-width: 1200px) {
    .grid-layout {
        grid-template-columns: 1fr;
    }

    .span-1 {
        grid-column-end: span 1;
        grid-row-end: span 1;
    }
    
    .span-2 {
        grid-column-end: span 1;
        grid-row-end: span 1;
    }
}