#featured-header {
    background-color: transparent;
    position: sticky;
    top: 75px;
    width: 85vw;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

@media all and (max-width: 1440px) {
    #featured-header {
        width: calc(100% - 4rem);
    }
}

#featured-header .project-title {
    color: #FFF;
    transition: .345s ease font-size;
}

.update-page-single #featured-header .project-title {
    transition: .345s ease all;
    color: #000;
}

#featured-header.shrink {
    background-color: #000;
}

.update-page-single #featured-header.shrink {
    background-color: #FFF;
}

#featured-header.shrink .project-title {
    font-size: 1.5rem;
}

#featured-header .title-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    max-width: 1440px;
}

@media screen and (max-width: 960px) {
    #featured-header .title-row {
        grid-template-columns: 1fr;
    }
}

#featured-header .title-row .side {
    display: flex;
    height: 75px;
    align-items: center;
    flex-wrap: wrap;
}

#featured-header .title-row .side h5 {
    margin-top: -1rem;
    flex: 0 0 100%;
}

#featured-header .social-list {
    transform: translateX(100%);
    transition: .345s ease-in-out all;
    background-color: #000;
    opacity: 0;
}

.social-icon {
    position: absolute;
    right: 0;
}

.share-icon:hover {
    color: #ff4350 !important;
    transition: .345s ease-in-out;
    cursor: pointer;
}

#featured-header .social-hover:hover .social-list {
    transform: translateX(0);
    opacity: 1;
}

#featured-header .side:last-of-type .social-list > div {
    margin-left: 1.5rem;
}

#featured-header .side:last-of-type {
    opacity: 0;
    transform: translateY(10%);
    transition: .345s ease all;
}

#featured-header.shrink .side:last-of-type {
    opacity: 1;
    transform: translateY(0);
}

