#featured-header {
    background-color: #000;
    height: 75px;
    position: sticky;
    top: 75px;
    width: 85vw;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

@media all and (max-width: 1440px) {
    #featured-header {
        width: calc(100% - 4rem);
    }
}

#featured-header .project-title {
    transition: .345s ease all;
}

#featured-header.shrink {
    background-color: #000;
}

#featured-header.shrink .project-title {
    font-size: 1.5rem;
}

#featured-header .title-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1440px;
}

#featured-header .title-row .side {
    display: flex;
    height: 75px;
    align-items: center;
    flex-wrap: wrap;
}

#featured-header .title-row .side h5 {
    margin-top: -1rem;
    flex: 0 0 100%;
}

#featured-header .side:last-of-type > div {
    margin-left: 1.5rem;
}

#featured-header .side:last-of-type {
    opacity: 0;
    transform: translateY(10%);
    transition: .345s ease all;
}

#featured-header.shrink .side:last-of-type {
    opacity: 1;
    transform: translateY(0);
}

