#twitter-band {
    padding: 3rem 0;
    background-color: #FFF;
}

.tweet-card {
    /* height: calc(25vw - 3.75vw); */
    height: 220px;
    padding: 0 !important;
    box-sizing: borer-box;
    position: relative;
    display: flex;
    align-items: flex-start;
}

.tweet-card--content {
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    background-color: #FFF;
    font-weight: 500;
    word-break: break-word;
    line-height: 1.5;
}

.tweet-card:not(:first-of-type) .tweet-card--content {
    margin-left: 1rem;
}

.tweet-card:not(:first-of-type) .tweet-card--footer {
    margin-left: 1rem;
}

.tweet-card:last-of-type .tweet-card--content {
    margin-left: 2rem
}

.tweet-card:last-of-type .tweet-card--footer {
    left: 1rem
}

.tweet-card--content a { 
    color: #0984e3;
}

.tweet-card--footer {
    position: absolute;
    bottom: .0;
    width: calc(100% - 1rem);
    left: 0;
    font-weight: 800;
}

.tweet-card--footer .bird {
    display: inline-flex;
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: 5%;
}

.tweet-card--footer .bird img {
    width: 100%;
    display: block;
    object-fit: contain;
}