#twitter-band {
    padding: 3rem 0;
    background-color: #FDFDFD;
}

.flex-modified {
    display: flex;
    flex-direction: row;
}

.tweet-card {
    height: calc(25vw - 3.75vw);
    /* height: 220px; */
    padding: 0rem !important;
    box-sizing: borer-box;
    position: relative;
    display: flex;
}

.tweet-card--content {
    height: 100%;
    width: 100%;
    background-color: transparent;
    font-weight: 500;
    word-break: break-word;
    line-height: 1.5;
    color: #000;
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 1rem;
}

.tweet-card:not(:first-of-type) {
    padding-left: -1rem !important;
}

.tweet-card:not(:first-of-type) .tweet-card--footer {
    left: 1rem;
}

.tweet-card:first-of-type .tweet-card--footer {
    left: 1rem;
}

.tweet-card--content a { 
    color: #0984e3;
}

.tweet-card--footer {
    position: absolute;
    width: calc(100% - 2rem);
    bottom: 2rem;
    left: 1rem;
    font-weight: 800;
    padding: 0 1rem;
    color: #000;
}

.tweet-card--footer .bird {
    display: inline-flex;
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: 2%;
}

.tweet-card--footer .bird img {
    width: 100%;
    display: block;
    object-fit: contain;
}