.piscatello-input--text {
    padding: 1rem;
    outline: none;
    border: none;
    margin: 1rem 0;
    width: 100%;
}

.piscatello-input--text.white {
    background-color: #FFF;
    color: #000;
    font-size: 1.25rem;
}