input[type="text"] {
    padding: 1rem .5rem;
    min-width: 300px;
    outline: none;
    border: none;
    margin: 1rem 0;
    font-size: 1.25rem;
    font-weight: 500;
}

input[type="text"][color="black"] {
    background-color: #000;
    color: #FFF;
}