.update-page-single {
    background: #FFF;
    min-height: 100vh;
    padding-top: calc(7rem + 75px);
    padding-bottom: 10rem;
}

.update-description {
    max-width: 100%;
    margin-top: calc(7rem - (75px / 2));
}

.update-content {
    display: flex;
    flex-direction: column;
}

.update-content .side {
    flex: 0 0 50%;
    box-sizing: border-box;
}

.update-content .side .image-side-single {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.update-content .side .image-side-single img {
    display: block;
    width: 100%;
}

.update-content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.update-content-row .content-flex {
    display: flex;
    flex: 0 0 50%;
}

.update-content-row .content-flex img {
    display: block;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .update-content-row {
        flex-direction: column;
    }

    .content-flex {
        flex: 0 0 100%;
        min-width: 100%;
    }
}

.update-content-row .content-flex-social {
    flex: 0 0 25%;
    min-width: 300px;
    position: sticky;
    top: 91px;
    align-self: flex-start;
}

.related-updates {
    margin-bottom: 1.5rem;
    display: block;
}

.related-title {
    margin-top: .75rem;
}