.careers-page {
    display: block;
    background: #000;
    padding: 75px 0 10rem 0;
    opacity: 0;
    transition: .345s ease all;
}

.careers-page.fade-enter-done {
    opacity: 1;
}

.careers-top-text {
    padding: 7rem 0 7rem 0;
    max-width: 75%;
}

@media all and (max-width: 600px) {
    .careers-top-text {
        max-width: 100%;
    }
}

.careers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2.5rem 0 5rem 0;
    border-bottom: 1px solid #999;
}

.careers-grid:last-of-type {
    border: 0;
}