.page-practice {
    padding-top: 18.5rem;
    background: #FFF;
    min-height: 100vh;
}

.top-text {
    max-width: 60%;
}

.banner-image {
    padding-top: 7.5rem;
}

.banner-image img {
    display: block;
    width: 100%;
}

.image-grid-2 {
    display: flex;
    flex-direction: row;
}

.image-grid-2 .image-container {
    flex: 0 0 50%;
}

.image-grid-2 .image-container.sticky img {
    position: sticky;
    top: calc(70px + 5rem);
}

.image-grid-2 .image-container:first-of-type {
    padding-right: 1.75rem
}

.image-grid-2 .image-container:last-of-type {
    padding-left: 1.75rem
}

.image-container img {
    width: 100%;
    display: block;
}

.bottom {
    margin-top: 5rem;
    background: #000;
    padding-bottom: 10rem;
}

.grid-half {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1.5rem;
    grid-gap: 2.5rem;
    width: calc(50% - 2.5rem);
}

.grid-half > div {
    padding-top: 1rem;
    border-top: 1px solid #999;
}