@font-face{
    font-family:"RotisIISansW01-ExtraLt";
    src:url("http://fast.fonts.net/dv2/14/ba70414e-9c58-4800-899f-fd0a69600948.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"RotisIISansW01-ExtraLtI";
    src:url("http://fast.fonts.net/dv2/14/a13182c6-17a8-4469-8872-3303e7d8e9b0.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"Rotis II Sans W01 Light";
    src:url("http://fast.fonts.net/dv2/14/664e51ef-82bb-4450-b2c1-a0f44961dd70.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"RotisIISansW01-LightIta";
    src:url("http://fast.fonts.net/dv2/14/964aa8c5-1d81-4e9b-ade3-81e17928d15c.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"Rotis II Sans W01";
    src:url("http://fast.fonts.net/dv2/14/0967262e-a1d6-4c35-8d57-9f783547e1fc.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"RotisIISansW01-Italic";
    src:url("http://fast.fonts.net/dv2/14/17182897-158e-4567-afe8-eb7ba11fedf2.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"RotisIISansW01-SemiBold_882443";
    src:url("http://fast.fonts.net/dv2/14/adf21a0c-9dbd-4178-a117-c2c6ad6c2539.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"RotisIISansW01-SemiBold_882446";
    src:url("http://fast.fonts.net/dv2/14/937b1b7c-6b36-4089-ba4f-7def19cccde8.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"Rotis II Sans W01 Bold";
    src:url("http://fast.fonts.net/dv2/14/8e565bcb-af45-4a9c-9925-bbeecaf860d9.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"RotisIISansW01-BoldItal";
    src:url("http://fast.fonts.net/dv2/14/8324c0c9-36ba-41f9-9676-ac011bf3f720.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"RotisIISansW01-ExtraBd";
    src:url("http://fast.fonts.net/dv2/14/ed47efd3-ef74-4856-95ba-cc8fca1ca7db.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"RotisIISansW01-ExtraBdI";
    src:url("http://fast.fonts.net/dv2/14/750df9ad-28f5-447d-b58f-42ac671a1f43.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"Rotis II Sans W01 Black";
    src:url("http://fast.fonts.net/dv2/14/7699546c-92fe-4f57-ace3-c96fa45a26e1.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"RotisIISansW01-BlackIta";
    src:url("http://fast.fonts.net/dv2/14/b3c7005f-8cc8-43a4-80fb-15f33a559b48.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"RotisSemiSansW01-Light";
    src:url("http://fast.fonts.net/dv2/14/c55fc8d3-b675-4737-840c-0ebb4f56e254.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"Rotis SemiSans W01";
    src:url("http://fast.fonts.net/dv2/14/f25abb32-be59-44c7-9213-046e351db1e3.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"RotisSemiSansW01-Italic";
    src:url("http://fast.fonts.net/dv2/14/ac9e3554-4075-41b9-b2c4-be8675cead77.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"Rotis SemiSans W01 Bold";
    src:url("http://fast.fonts.net/dv2/14/d5c9fc3e-32a7-4a2c-b680-4251b15fecec.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"RotisSemiSansW01-ExtraB";
    src:url("http://fast.fonts.net/dv2/14/06b98841-dc34-49d1-b1b1-3469159b35f2.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"Rotis Sans Serif W01";
    src:url("http://fast.fonts.net/dv2/14/979b67f1-28b4-4d3b-ab4d-551d4eaa3827.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"RotisSansSerifW01-Itali";
    src:url("http://fast.fonts.net/dv2/14/02d9a70b-ad14-4810-aa3a-144f7ffe7b80.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"RotisSansSerifW01-Bold";
    src:url("http://fast.fonts.net/dv2/14/667fde85-ea2f-4851-a2d1-93456b293f5a.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}
    @font-face{
    font-family:"RotisSansSerifW01-Extra";
    src:url("http://fast.fonts.net/dv2/14/75ec2be4-7969-4594-9c01-fb9c2add6376.woff2?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de4c89db27f56b34b1a726003ea8bc452581b5c65c563dc78462a6d5cd45efcd58c78079433920852aac87785e0dd768ad4901988873460da8&projectId=dd228574-4dab-4330-8c69-17a6a414a03f") format('woff2');}