#project-list {
    background: #FFF;
    width: 100vw;
    padding: 5rem 0;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5rem;
}

.project-grid .project {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20%);
    transition: .345s ease all;
}

.project-grid .project.visible {
    transform: translateY(0);
    opacity: 1;
}

.project-grid .project .image-container {
    overflow: hidden;
    border-radius: 3px;
}

.project-grid .project .image-container img {
    display: block;
    width: 100%;
    transition: .345s ease all;
}

.project-grid .project .image-container img:hover {
    transform: scale(1.05);
}

.project .project-description {
    padding: 1rem 0;
}

.project .project-title {
    font-size: 2rem;
    font-weight: 800;
}

.project .details {
    padding: 2rem 0 0 0;
    font-size: 1.2rem;
}