.project-slider {
    overflow: hidden;
    max-width: 100%;
}
.slick-slider {
    width: 100vw;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    transform: scale(0.95);
    transition: ease .345s all;
}

.slick-slider .slide {
    transform: scale(.997);
    outline: none;
}

.slick-slider.grow {
    transform: scale(1);
}


.slick-slider.grow .slide {
    transform: scale(1);
}


.slick-slider img {
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
    object-position: 50% 50%;
    outline: none;
}

.slick-slider .slide {
    max-height: 100vh;
    overflow: hidden;
}

.custom-dots {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -200px);
    display: flex;
    flex-direction: row;
}

.custom-dots li {
    display: inline-flex;
}

.custom-dots button {
    font-size: 0;
    border-radius: 100%;
    display: none;
}