#swipe-slider {
    width: 100%;
    display: block;
    height: auto;
    overflow: hidden;
    cursor: -webkit-grab;
    cursor: grab;
}

#swipe-slider .swipe-track {
    display: flex;
    min-width: 100%;
    width: auto;
    grid-template-columns: min-content;
    justify-content: space-between;
}

#swipe-slider .swipe-track .swipe-slide {
    margin-left: 1.75rem;
    flex-basis: auto;
}

#swipe-slider:not(.dragging) .swipe-track {
    transition: .345s ease-in-out all;
}

#swipe-slider .swipe-track .swipe-slide:first-of-type {
    margin-left: 0;
}