header {
    background-color: #000;
    width: 100vw;
    height: 75px;
    padding: 1.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    display: flex;
    align-items: center;
    transform: translate3d(0, 0, 0);
}

header.header-min {
    padding: 1.5rem 0;
    /* background-color: #f2f3f5; */
    /* background: #333; */
    background: #FFF;
    /* border-bottom: 1px solid #DDD; */
}

header .menu {
    z-index: 999;
}

header .quote-col {
    justify-content: center;
    display: flex;
}

header .quote-col span.quote {
    position: absolute;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2rem;
    transform: translateY(10%);
    opacity: 0;
    transition: .15s ease all;
    font-weight: 500;
}

header .quote-col span.quote.hovered {
    transform: translateY(0);
    opacity: 1;
}

header .menu h2 {
    color: #999;
    cursor: pointer;
    transition: .345s ease all;
}

header .close-menu {
    display: none;
}

header.header-overlay--visible .close-menu {
    display: block;
}

header.header-overlay--visible .open-menu {
    display: none;
}

header.header-min .menu a,
header.header-min a,
header.header-min .menu-button,
header.header-min .menu h2 {
    color: #999;
}

header.header-overlay--visible .menu,
header.header-overlay--visible a,
header.header-overlay--visible .menu-button {
    color: #999;
}

header.header-overlay--visible .menu .bar {
    background-color: #000;
}

header.header-overlay--visible a,
header a {
    transition: .345s ease color;
}

.black-bg .logo-link {
    color: #999;
}

.black-bg .logo-link:hover {
    color: #999;
}

.white-bg .logo-link {
    color: #999 !important;
}

header.header-overlay--visible a:hover,
header a:hover {
    color: #999;
}

header.white-bg {
    background: #000;
    /* transition: .5s ease all .8s; */
}

header.black-bg {
    background: #000;
}


header .menu-button {
    display: flex;
    font-weight: bold;
    align-items: center;
    color: #333;
}

header .hamburger {
    position: relative;
    height: 15px;
    width: 25px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .345s ease all;
    cursor: pointer;
}

header .hamburger:before,
header .hamburger:after {
    content: '';
    background: #999;
    height: 2px;
    width: 100%;
    transform-origin: 100% 50%;
    transition: .345s ease all;
}

header.header-overlay--visible .hamburger:before,
header.header-overlay--visible .hamburger:after {
    transform-origin: 87% 50%;
}

header.header-overlay--visible .hamburger:before {
    transform: rotate(-45deg)
}

header.header-overlay--visible .hamburger:after {
    transform: rotate(45deg)
}

header .menu a {
    padding: 0 1rem;
    font-size: 1rem;
    color: #333;
    text-decoration: none;
}


.black-bg .menu h2 {
    color: #999;
}

.white-bg .menu h2 {
    color: #999;
}

header .menu .bar {
    height: 2px;
    width: 100%;
    background-color: #000;
}


header.header-min .bar {
    background-color: #FFF;
}

.header-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease .495s, opacity .345s ease .15s;
    height: 100vh;
}

header.header-overlay--visible .header-overlay {
    visibility: visible;
    opacity: 1;
    transition: opacity .345s ease;
}

.header-overlay .menu-vert {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.header-overlay .menu-vert span {
    color: #fff;
    font-size: 4rem;
    padding: 0 0;
    transition: .345s ease all;
    font-weight: 800;
    padding: .25rem 0;
    margin: 1rem 0 0 0;
    line-height: 1;
    display: inline-flex;
}

.header-overlay .menu-vert .link-container {
    flex-direction: column;
    flex-grow: 0;
}

.header-overlay .menu-vert .link-container:hover span {
    color: rgba(255,255,255,0.15);
}

.header-overlay .menu-vert .link-container:hover span:hover {
    color: #ff4350;
}

.header-overlay .menu-vert a {
    flex: 0;
}

.header-overlay .menu-vert a h2 {
    visibility: hidden;
}

.header-overlay .menu-vert a:hover h2 {
    visibility: visible;
}

.header-overlay .menu-vert h1:hover img {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.03);
}

header.header-overlay--visible .animate--pre-animate {
    opacity: 0;
}

header.header-overlay--visible .animate--post-animate {
    animation: animateMenuIn .345s ease forwards;
}

.image-hover {
    background-color: #DDD;
    transition: 0.345s ease all;
}

.image-hover img {
    opacity: 1;
}

.image-hover.image-hover--transitioning {
    transform: scale(.95);
}

.image-hover.image-hover--transitioning img {
    opacity: 0;
}

header.header-overlay--visible .header-overlay--footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
}

.menu--image-hover {
    position: relative;
}

.menu--image-hover img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: 20vw;
    opacity: 0;
    z-index: -1;
    transition: .345s ease all;
}

@media screen and (max-width: 600px){
    .page-name-menu {
        display: none;
    }
}

.follow-image {
    position: absolute;
    height: 300px;
    width: 300px;
    will-change: transform;
    transition: .15s ease-out transform, .345s ease opacity;
    opacity: 0;
    top: 0;
    left: 0;
}

.follow-image img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(20px);
    transform-origin: 0% 50%;
    transition: .345s ease all;
}

.follow-image img.selected {
    opacity: 1;
    transform: translateY(0px);
    transform-origin: 0% 0%;
}

.menu-vert:hover ~ .follow-image {
    opacity: 1;
}