#footer {
    background-color: #333;
    color: #FFF;
    height: 400px;
    padding: 2rem 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    position: fixed;
    z-index: -999999;
}