/* Copy of reset.css 2.0 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background-color: #f2f3f5;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
input,
textarea {
    font-family: "Rotis Sans Serif";
}

strong {
    font-weight: bolder;
}

/* End reset.css 2.0 */
html {
    height: 100%;
}

html,
body {
    min-height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #f2f3f5;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    font-family: "Rotis Sans Serif";
    line-height: 1.6em;
    color: #000;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 800;
    word-wrap: break-word;
    white-space: pre-wrap;
    position: relative;
    z-index: 1;
}

h1.light,
h2.light,
h3.light,
h4.light,
h5.light {
    font-weight: 500;
    color: #909AA3 !important;
}

h1.light-white,
h2.light-white,
h3.light-white,
h4.light-white,
h5.light-whoite {
    font-weight: 500;
    color: #f2f3f5 !important;
}

h1 {
    font-size: 5rem;
    line-height: 1.25;
}

h1.reg {
    font-size: 3rem;
}

h2.reg {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5em;
    line-height: 1.15;
}

h3.reg {
    font-size: 1.85rem;
    line-height: 1.27;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.25rem;
}

.margin-btm-1 {
    margin-bottom: 1rem;
}

.margin-btm-2 {
    margin-bottom: 2rem;
}

.margin-btm-3 {
    margin-bottom: 3rem;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-top-3 {
    margin-top: 3rem;
}

.text-sm {
    font-size: 0.78rem;
}

.text-reg {
    font-size: 1rem;
}

.text-md {
    font-size: 1.25rem;
}

.text-bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-block {
    display: block;
}

.text-grey {
    color: #AAA;
}

.text-blue {
    color: #4a69bd;
}

.text-black {
    color: #000;
}

.text-white {
    color: #FFF;
}

.underline {
    border-bottom: 3px solid #FAFAFA;
}

.img-block {
    display: inline-block;
}

.img-block img {
    display: block;
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.container.padded {
    padding: 3rem 0 2rem 0;
}

@media all and (max-width: 1440px) {
    .container {
        width: calc(100% - 4rem);
    }
}

header {
    background-color: transparent;
    width: 100vw;
    height: auto;
    padding: 1.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: background-color ease .245s;
}

header.header-min {
    padding: 1.5rem 0;
    background-color: #f2f3f5;
    /* border-bottom: 1px solid #DDD; */
}

header .menu {
    z-index: 999;
}

header .menu h2 {
    color: #333;
    cursor: pointer;
    transition: .345s ease all;
}

header .menu h2:hover {
    color: #909AA3;
}

header .close-menu {
    display: none;
}

header.header-overlay--visible .close-menu {
    display: block;
}

header.header-overlay--visible .open-menu {
    display: none;
}

header.header-min .menu a,
header.header-min a,
header.header-min .menu-button,
header.header-min .menu h2 {
    color: #909AA3;
}

header.header-overlay--visible .menu,
header.header-overlay--visible a,
header.header-overlay--visible .menu-button {
    color: #FFF;
}

header.header-overlay--visible .menu .bar {
    background-color: #000;
}

header.header-overlay--visible a,
header a {
    color: #333;
    transition: .345s ease color;
}

header.header-overlay--visible a:hover,
header a:hover {
    color: #999;
}

header .menu-button {
    display: flex;
    font-weight: bold;
    align-items: center;
    color: #333;
}

header .menu-button .hamburger {
    position: relative;
    height: 10px;
    width: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .menu a {
    padding: 0 1rem;
    font-size: 1rem;
    color: #333;
    text-decoration: none;
}

header .menu .bar {
    height: 2px;
    width: 100%;
    background-color: #FAFAFA;
}


header.header-min .bar {
    background-color: #FFF;
}

.header-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f2f3f5;
    color: #999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease .345s, opacity .345s ease;
}

header.header-overlay--visible .header-overlay {
    visibility: visible;
    opacity: 1;
    transition: opacity .345s ease;
}

.header-overlay .menu-vert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.header-overlay .menu-vert h1 {
    color: #37474F;
}

.header-overlay .menu-vert a {
    flex: 0;
}

.header-overlay .menu-vert a h2 {
    visibility: hidden;
}

.header-overlay .menu-vert a:hover h2 {
    visibility: visible;
}

.header-overlay .menu-vert h1:hover img {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.03);
}

header.header-overlay--visible .animate--pre-animate {
    opacity: 0;
}

header.header-overlay--visible .animate--post-animate {
    animation: animateMenuIn .345s ease forwards;
}

.image-hover {
    background-color: #DDD;
    transition: 0.345s ease all;
}

.image-hover img {
    opacity: 1;
}

.image-hover.image-hover--transitioning {
    transform: scale(.95);
}

.image-hover.image-hover--transitioning img {
    opacity: 0;
}

header.header-overlay--visible .header-overlay--footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
}

.menu--image-hover {
    position: relative;
}

.menu--image-hover img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: 20vw;
    opacity: 0;
    z-index: -1;
    transition: .345s ease all;
}

.hidden {
    display: none !important;
}

@keyframes animateMenuIn {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media all and (min-width: 1025px) {
    header .menu-mobile {
        display: none;
    }
}

@media all and (max-width: 414px) {
    h1 {
        font-size: 3rem;
        line-height: 1.25;
    }

    h1.reg {
        font-size: 3rem;
    }

    h2.reg {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.25em;
        line-height: 1.15;
    }

    h3.reg {
        font-size: 1.85rem;
        line-height: 1.27;
    }

    h3 {
        font-size: 1.25em;
    }

    h4 {
        font-size: 1.25rem;
    }
}

/*** Background classes ***/

.bg-grey {
    background-color: #EEE;
}

.bg-black {
    background-color: #FAFAFA;
}

.bg-white {
    background-color: #FFF;
}

/*** Padding classes ***/

.padding-btm-xs {
    padding-bottom: .75rem;
}

.padding-btm-sm {
    padding-bottom: 1rem;
}

.padding-btm-md {
    padding-bottom: 1.25rem;
}

.padding-btm-lg {
    padding-bottom: 2rem;
}

.padding-btm-xl {
    padding-bottom: 3rem;
}

.padding-top-xs {
    padding-bottom: .75rem;
}

.padding-top-half {
    padding-top: 0.5rem;
}

.padding-top-1 {
    padding-top: 1rem;
}

.padding-top-125 {
    padding-top: 1.25rem;
}

.padding-top-2 {
    padding-top: 2rem;
}

.padding-top-3 {
    padding-top: 3rem;
}

.padding-top-6 {
    padding-top: 6rem;
}

.padding-btm-6 {
    padding-bottom: 6rem;
}

/** Components **/

.transition-page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    top: 0;
    left: 0;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: all 250ms ease-in;
    transition-delay: 250ms;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: all 250ms ease-out;
}

/*** Footer ***/

.App {
    margin-bottom: 500px;
    min-height: 100vh;
    position: relative;
}