.item.project-item {
    color: #FFF;
    cursor: pointer;
}

.item.project-item .subtext {
    position: absolute;
    visibility: hidden;
    top: .5rem;
    font-size: 1.25rem;
    font-weight: 500;
    transform: translateY(10%);
    transition: .345s ease all;
    opacity: 0;
}


.item.project-item:hover .subtext {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
    transition: .25s ease all .35s;
}

.item.project-item .contents {
    height: 82px;
    position: relative;
    display: block;
}

.item.project-item h3 {
    padding-top: .45rem;
    transition: all .25s ease-out .35s;
    opacity: 1;
}

.item.project-item:hover h3:not(.subtext) {
    /* visibility: hidden; */
    opacity: 0;
    transform: translateY(-10%);
    transition: .25s ease all;
}

.item.project-item .img-container {
    position: relative;
    overflow: hidden;
    transition: .25s ease all;
    height: calc(100% - 82px);
}

.item.project-item .img-container:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #3f3f3f;
    z-index: 999;
    top: 0;
    transition: .345s ease all .5s;
}
.item.project-item .img-container.loaded:after {
    transform: translateY(101%);
}

.item.project-item .img-container {
    height: calc(100% - 82px);
} 

.item.project-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    object-position: center center;
    transition: .345s ease all 2s;
}