#contact-band {
    color: #FFF;
    border-top: #DDD;
    background: #FFF;
    position: relative;
}

.parallax-image {
    position: absolute !important;
    right: calc(-7.5% - 22px);
    height: calc(100% + 12rem);
    width: calc(57.5% + 1.5rem);
    top: -6rem;
    padding: 0 !important;
}

@media all and (max-width: 1440px) {
    .parallax-image {
        width: calc(50% + 1.5rem);
        right: -2rem;
        top: -6rem;
        padding: 0 !important;
    }
}

.parallax-image img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}